<h2 class="list-header">Your Habits</h2>
<div class="row">
  {{#each model.habits as |habit|}}
    <div class="habit-tile col-sm-6 col-sm-offset-3 well">
      <div>
        {{habit-tile habit=habit addInstance="addInstance"}}
      </div>
    </div>
  {{/each}}
</div>
