<div class="row">
  <div class="col-sm-8 habit-name-box">
    <h2 class="habit-name">{{habit.name}}</h2>
  </div>
  <div class="col-sm-2 instance-button-box">
    <button class="btn btn-lrg btn-info add-instance"{{action "addInstance" habit}}><span class="glyphicon glyphicon-ok"></span></button>
  </div>
  <div class="col-sm-2 calendar-button-box">
    <button class='btn btn-info'{{action "goToHabit" habit.id}}><span class="glyphicon glyphicon-equalizer"></span></button>
  </div>
</div>
