<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="row">
      <h2></h2>
      <div class="landing-cell col-sm-4">
        <img src="/assets/images/lagoon.png" alt="" />
        <p>
          What would you like to achieve? Tracking your habits can help you achieve your goals.
        </p>
      </div>
      <div class="landing-cell col-sm-4">
        <img src="/assets/images/climbing.png" alt="" />
        <p>
          Incline is a simple, sleek way of getting started with habit tracking.
        </p>
      </div>
      <div class="landing-cell col-sm-4">
        <img src="/assets/images/goal.png" alt="" />
        <p>
          Log in with your Google account to begin working towards a better life.
        </p>
      </div>
    </div>
    {{login-tile signOut="signOut" signIn="signIn"}}
  </div>
</div>
