{{#if session.isAuthenticated}}
  <h3>Logged in as {{session.currentUser.displayName}}</h3>
  <button {{action "signOut"}}>Sign Out</button>
{{else}}
  <button {{action "signIn" "google"}}>Sign In</button>
{{/if}}
