<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form>
      <div class="form-group">
        <label for="name">New Habit</label>
        {{input class="form-control" value=name id="name" id="name"}}
      </div>
    <button class="btn btn-info" {{action "newHabit"}}>Create</button>
    </form>
  </div>
</div>
