body {
  background-image: url('https://static.pexels.com/photos/23049/pexels-photo.jpg');
  overflow-x: hidden;
}

.nav-logo {
  margin-top: -20%;
}

.list-header {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  margin-bottom: 50px;
}

.habit-name-box {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.habit-name-box h2 {
  position: relative;
  top: 75%;
  transform: translateY(-25%);
}

.instance-button-box {
  height: 58px;
  text-align: center;
}

.instance-button-box button{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.calendar-button-box {
  height: 58px;
  text-align: center;
}

.calendar-button-box button{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.list-header {
  text-align: center;
}
