{{habit-dashboard model=model}}

{{#each model.instances as |instance|}}
  <p>
    {{instance.timestamp}}
  </p>
{{/each}}

<div id="myChart">

</div>

<button {{action "renderChart"}}>Show chart</button>
