{{!-- {{habit-dashboard model=model}} --}}

{{!-- {{#each model.instances as |instance|}}
  <p>
    {{instance.timestamp}}
  </p>
{{/each}} --}}

<h1>{{model.habit.name}}</h1>

<div id="myChart">

</div>

<button {{action "renderChart" model.instances}}>Show chart</button>
